---
import MainLayout from "@/layouts/MainLayout.astro";

const { api } = Astro.locals;
const { slug } = Astro.props;

let hasError = null;
let game = null;

async function getGame () {
  try {
    const response = await fetch(`${api}/games/${slug}/`);
    if (response.ok) {
      game = await response.json();
    } else {
      throw new Error("Failed to fetch data");
    }
  } catch {
    hasError = true;
  }
};

await getGame();

---

<MainLayout>
  {!hasError && game ? (
    <section class="okp-game">
      <header class="okp-game-header">
        <h1 class="okp-game-header-title">{game.name}</h1>
      </header>
      <slot />
      <footer class="okp-game-footer">
        <small>
          <p>{game.name}&nbsp;&copy;&nbsp;2024&nbsp;M-C Pronovost &mdash; Tous droits réservés &mdash; Version {game.version}</p>
          <p>Oykus&nbsp;&copy;&nbsp;2024&nbsp;<a href="https://github.com/mcpronovost" target="_blank">mcpronovost</a> &mdash; Tous droits réservés &mdash; Version 0.3.0-alpha</p>
        </small>
      </footer>
    </section>
  ) : (
    <div>an error occurred</div>
  )}
</MainLayout>
