---
import GameLayout from "@/layouts/GameLayout.astro";
import AlertNotFound from "@/components/common/AlertNotFound.astro";
import ForumTopic from "@/components/forum/Topic.astro";

const { api } = Astro.locals;
const { slug, cpk, spk, tpk } = Astro.params;

let hasError = null;
let topic = null;

async function getForumTopic () {
  try {
    const response = await fetch(`${api}/forums/${slug}/topics/${tpk}/`);
    if (response.ok) {
      topic = await response.json();
    } else {
      throw new Error("Failed to fetch data");
    }
  } catch {
    hasError = true;
  }
};

await getForumTopic();

---

<GameLayout slug={slug}>
  <div class="okp-grid">
    <section class="okp-forum">
      <section class="okp-forum-topic">
        {!!topic ? (
          <ForumTopic topic={topic} />
        ) : (
          <AlertNotFound />
        )}
      </section>
    </section>
  </div>
</section>
</GameLayout>
