---
import GameLayout from "@/layouts/GameLayout.astro";
import AlertNotFound from "@/components/common/AlertNotFound.astro";
import ForumCategory from "@/components/forum/Category.astro";

const { api } = Astro.locals;
const { slug, cpk } = Astro.params;

let hasError = null;
let category = null;

async function getForumCategory () {
  try {
    const response = await fetch(`${api}/forums/${slug}/categories/${cpk}`);
    if (response.ok) {
      category = await response.json();
    } else {
      throw new Error("Failed to fetch data");
    }
  } catch {
    hasError = true;
  }
};

await getForumCategory();

---

<GameLayout slug={slug}>
  <div class="okp-grid">
    <section class="okp-forum">
      <section class="okp-forum-categories">
        {!!category ? (
          <ForumCategory category={category} />
        ) : (
          <AlertNotFound />
        )}
      </section>
    </section>
  </div>
</section>
</GameLayout>
