---
import type { Section } from "@/types/forums.types";
import GameLayout from "@/layouts/GameLayout.astro";
import AlertNotFound from "@/components/common/AlertNotFound.astro";
import ForumSection from "@/components/forum/Section.astro";

interface Locals {
  api?: string;
}

const { api }: Locals = Astro.locals;
const { slug, spk } = Astro.params;

let hasError = null;
let section: Section | null = null;

async function getForumSection () {
  try {
    const response = await fetch(`${api}/forums/${slug}/sections/${spk}/`);
    if (response.ok) {
      section = await response.json();
    } else {
      throw new Error("Failed to fetch data");
    }
  } catch {
    hasError = true;
  }
};

await getForumSection();

---

<GameLayout slug={slug}>
  <div class="okp-grid">
    <section class="okp-forum">
      <section class="okp-forum-sections">
        {!!section ? (
          <ForumSection section={section} />
        ) : (
          <AlertNotFound />
        )}
      </section>
    </section>
  </div>
</section>
</GameLayout>
