---
import type { LangType } from "@/services/utils/types";
import { Bell, LogIn, Mail, Smile } from "lucide";
import { getTranslation } from "@/services/i18n";
import { getRoute } from "@/services/router";
import OkpIcon from "@/components/common/Icon.astro";

const { lang } = Astro.params as { lang: LangType };
const { user } = Astro.props;
const { t } = getTranslation(lang);
const { r } = getRoute(lang);
---

<header id="okp-core-header" role="navigation">
    <section class="okp-header-branding">
        <a href="/" class="okp-header-branding-link" role="link" aria-label="Oykus">
            <figure class="okp-header-branding-logo">
                <img src="/favicon.svg" alt="Oykus" />
            </figure>
            <span class="okp-header-branding-title">Oykus</span>
        </a>
    </section>
    <section class="okp-header-menu">
        <nav>
            <ul>
                <li>
                    <a href={r("devblog")}>
                        {t("Devblog")}
                    </a>
                </li>
                <li>
                    <a href="#">
                        {t("FAQ")}
                    </a>
                </li>
                <li>
                    <a href="#">
                        {t("Privacy Policy")}
                    </a>
                </li>
            </ul>
        </nav>
    </section>
    <section class="okp-header-spacer"></section>
    <section class="okp-header-notifications">
        <div>
            <button>
                <OkpIcon icon={Bell} />
            </button>
        </div>
        <div>
            <button>
                <OkpIcon icon={Mail} />
            </button>
        </div>
        <div>
            <button>
                <OkpIcon icon={Smile} />
            </button>
        </div>
    </section>
    {!!user ? (
        <section class="okp-header-user">
            <div class="okp-header-user-dropdown">
                <a href={r("management/games")} class="okp-header-user-button">
                    <div class="okp-header-user-button-name">
                        <span>{user.playername}</span>
                        <small>{user.email}</small>
                    </div>
                    <figure class="okp-header-user-button-avatar">
                        {user.avatar && (
                            <img src={user.avatar} alt={user.playername} aria-hidden="true" />
                        )}
                    </figure>
                </a>
            </div>
        </section>
    ) : (
        <section class="okp-header-auth">
            <a href={r("login")} class="okp-header-auth-login">
                <span>{t("Login")}</span>
                <OkpIcon icon={LogIn} />
            </a>
            <a href={r("register")} class="okp-header-auth-register">
                <span>{t("Register")}</span>
            </a>
        </section>
    )}
</header>
