---
import type { User } from "@/types/auth.types";
import type { Game, Character } from "@/types/games.types";
import type { Lang } from "@/types/i18n.types";
import { Image } from "astro:assets";
import { Drama, Sparkles } from "lucide-astro";
import { getTranslation } from "@/i18n/i18n";

interface Locals {
  api?: string;
}

interface Props {
  lang: Lang;
  user: User | null;
  slug?: string;
}

const { api }: Locals = Astro.locals;
const { slug, lang }: Props = Astro.props;
const t = getTranslation(lang);

let characters: Character[] = [];
let games: Game[] = [];

async function getCharacters () {
  try {
    const response = await fetch(`${api}/auth/me/characters/`);
    if (!response.ok) throw new Error("Failed to fetch data");

    characters = await response.json();
    if (!characters) throw new Error("No characters found");
  } catch {}
};

async function getGames () {
  try {
    const response = await fetch(`${api}/games/`);
    if (!response.ok) throw new Error("Failed to fetch data");

    games = await response.json();
    if (!games) throw new Error("No games found");
  } catch {}
};

await getCharacters();
await getGames();
---

<aside id="okp-core-siderigh" class="okp-scrollable">
  {
    !!characters.length && (
      <nav class="okp-siderigh-games">
        <ul class="okp-siderigh-cards">
          <li class="okp-siderigh-card">
            <span class="okp-siderigh-card-icon" aria-label={t("Characters")} title={t("Characters")}>
              <Drama size={20} />
            </span>
          </li>
          {characters.map((character) => (
            <li class="okp-siderigh-card">
              <a href={`/c/${character.id}-${character.slug}/`} class="okp-siderigh-card-link" aria-label={character.name} title={character.name}>
                {character.avatar ? (
                  <Image src={character.avatar} alt={character.name} width={32} height={32} loading="lazy" class="okp-siderigh-card-link-img" />
                ) : <span class="okp-siderigh-card-link-abbr">{character.abbr}</span>}
              </a>
            </li>
          ))}
        </ul>
      </nav>
    )
  }
  {
    !!games.length && (
      <nav class="okp-siderigh-games">
        <ul class="okp-siderigh-cards">
          <li class="okp-siderigh-card">
            <span class="okp-siderigh-card-icon" aria-label={t("Games")} title={t("Games")}>
              <Sparkles size={20} />
            </span>
          </li>
          {games.map((game) => (
            (!slug || slug != game.slug) && <li class="okp-siderigh-card">
              <a href={`/g/${game.slug}/`} class="okp-siderigh-card-link" aria-label={game.name} title={game.name}>
                {game.logo ? (
                  <Image src={game.logo} alt={game.name} width={32} height={32} loading="lazy" class="okp-siderigh-card-link-img" />
                ) : <span class="okp-siderigh-card-link-abbr">{game.abbr}</span>}
              </a>
            </li>
          ))}
        </ul>
      </nav>
    )
  }
</aside>
