---
import type { LangType, ManagementListGameType } from "@/services/utils/types";
import { Eye, Ghost, Plus, Trash2 } from "lucide";
import { gamesApi } from "@/services/api";
import { getTranslation } from "@/services/i18n";
import { getRoute } from "@/services/router";
import OkpIcon from "@/components/common/Icon.astro";

const { lang } = Astro.params as { lang: LangType };
const { t } = getTranslation(lang);
const { r } = getRoute(lang);

const response = await gamesApi.managementList();
const gamesList = response?.results || [];
---

<section class="okp-grid">
    <header class="okp-header">
        <section class="okp-header-content">
            <h1 class="okp-header-title">{t("Your Games")}</h1>
        </section>
        {gamesList.length > 0 && (
            <section class="okp-header-actions">
                <a href={r("management/games/create")} class="okp-btn">
                    <span>{t("Create a New Game")}</span>
                    <OkpIcon icon={Plus} size={16} aria-hidden="true" />
                </a>
            </section>
        )}
    </header>
    
    {gamesList.length > 0 && (
        <section class="okp-management-games-list">
            {gamesList.map((game: ManagementListGameType) => (
                <article class="okp-management-games-list-item">
                    <header class="okp-management-games-list-item-header">
                        <h2 class="okp-management-games-list-item-header-title">
                            {game.name}
                        </h2>
                        <p class="okp-management-games-list-item-header-description">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
                        </p>
                        <div class="okp-management-games-list-item-header-status">
                            {game.is_active ? (
                                <span class="okp-tag okp-tag-size-sm okp-success">{t("Active")}</span>
                            ) : (
                                <span class="okp-tag okp-tag-size-sm okp-error">{t("Inactive")}</span>
                            )}
                            {game.is_public ? (
                                <span class="okp-tag okp-tag-size-sm okp-success">{t("Public")}</span>
                            ) : (
                                <span class="okp-tag okp-tag-size-sm okp-error">{t("Private")}</span>
                            )}
                        </div>
                    </header>
                    <footer class="okp-management-games-list-item-actions">
                        <a href={r("management/games/{slug}/edit", { slug: game.slug })} class="okp-btn okp-success">
                            <span>{t("Edit")}</span>
                        </a>
                        <div class="okp-management-games-list-item-actions-extra">
                            <a href={r("management/games/{slug}/view", { slug: game.slug })} class="okp-btn okp-small okp-info">
                                <OkpIcon icon={Eye} size={16} aria-label={t("View")} />
                            </a>
                            <a href={r(`management/games/{slug}/delete`, { slug: game.slug })} class="okp-btn okp-small okp-error">
                                <OkpIcon icon={Trash2} size={16} aria-label={t("Delete")} />
                            </a>
                        </div>
                    </footer>
                </article>
            ))}
        </section>
    )}

    {gamesList.length === 0 && (
        <section class="okp-management-games-list-empty">
            <header>
                <OkpIcon icon={Ghost} size={64} aria-hidden="true" />
                <h2>{t("No games found")}</h2>
                <p>{t("Create your first game to get started")}</p>
            </header>
            <a href={r("management/games/create")} class="okp-btn okp-success">
                <span>{t("Create a New Game")}</span>
                <OkpIcon icon={Plus} size={16} aria-hidden="true" />
            </a>
        </section>
    )}
</section>
