---
import { Award } from "lucide";
import OkpIcon from "@/components/common/Icon.astro";
import OkpTag from "@/components/react/common/Tag";
---

<h1 style="font-size: 12rem; word-spacing: 100vw;">Explore Build Survive</h1>

<p style="display: block;max-width: 25vw;">The only aim in Rust is to survive. Everything wants you to die - the island’s wildlife and other inhabitants, the environment, other survivors. Do whatever it takes to last another night.</p>

<div>
    <OkpIcon icon={Award} />
</div>

<div style="display: flex; flex-direction: row; gap: 12px; align-items: center; justify-content: center; margin: 32px auto;">
    <span>Tier -</span>
    {Array.from({ length: 7 }, (_, i) => i).map((tier) => ( 
        <span style={`color: var(--okp-tier${tier});`}>Tier {tier}</span>
    ))}
</div>

<div style="display: flex; flex-direction: row; gap: 12px; align-items: center; justify-content: center; margin: 32px auto;">
    <OkpTag>Tier -</OkpTag>
    {Array.from({ length: 7 }, (_, i) => i).map((tier) => (
        <OkpTag type={`tier${tier}`}>Tier {tier}</OkpTag>
    ))}
</div>

<div style="display: flex; flex-direction: row; gap: 12px; align-items: center; justify-content: center; margin: 32px auto;">
    <OkpTag size="sm">Tier -</OkpTag>
    {Array.from({ length: 7 }, (_, i) => i).map((tier) => (
        <OkpTag type={`tier${tier}`} size="sm">Tier {tier}</OkpTag>
    ))}
</div>
